@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

@media screen and (max-width: 480px) {
    body {
        max-width: 480px;
        font-size: 0.8em;
    }
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(to top, #06004D, #000000);
    font-family: 'Yanone Kaffeesatz', 'sans-serif';
}
header {
    min-height: 150px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(0, 0, 92), black);
    min-height: 80px;
    border-radius: 8px 0px 8px 0px;
}
header > h1 {
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: normal;
    margin-bottom: 20px;
}
header > p {   
    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px;
    text-align: center;
    color: white;
    font-size: 1.2em;
}
.home {
    font-size: 1.1em;
    padding: 15px;
    background-color: rgba(17, 17, 153, 0.363);
}
.home:hover {
    background-color: rgba(255, 255, 255, 0.459);
    transition: 0.8s;
    text-decoration: underline;
}
main {
    min-width: 300px;
    max-width: 480px;
    margin: auto;
    background-color: rgba(0, 0, 61, 0.247);
    width: 600px;
    border-radius: 8px;
}
section {
    margin: auto;
}
ul {
    color: white;
    font-size: 1.2em;
    columns: 2;
    list-style-type: '🎵';
}
li {
    padding: 2px;
}
li:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
}

a:visited {
    color: rgb(63, 79, 172);
}
a:hover {
    color: rgb(0, 0, 177);
}
footer {
    border: rgba(0, 0, 112, 0.336);
    border-style: solid;
    border-radius: 0px 8px 0px 8px;
    padding: 10px;
    color: white;
    font-style: italic;
    text-align: center;
}